/* Исправлена реализация вписания элемента между двумя секциями */
.video__iframes{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 50px auto -50px;
}


