@import url(./section-title_theme_dark/section-title_theme_dark.css);
@import url(./section-subtitle_theme_dark/section-subtitle_theme_dark.css);
@import url(./table__cell_theme_dark/table__cell_theme_dark.css);
@import url(./kaufman-triangle/kaufman-triangle.css);
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  overflow: hidden;
  padding-bottom: 90px;
}
